@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Zen+Maru+Gothic&display=swap";

// breakpoints
$breakpoints: (
  "sm": 640px,
  "md": 768px,
  "lg": 769px,
  "xl": 1440px,
);

// design size
$design-size: (
  "pc-width": 1440,
  "pc-height": 810,
  "sp-width": 360,
  "sp-height": 800,
);

// colors
$color-white: #fff;
$color-brown: #3b1800;
$color-pink: #ffa8a8;
$color-blue: #29a6ce;
$color-green: #85c36f;
$color-beige: #f7f3eb;
$color-beige2: #ede2da;

// fonts
$font-family: "Heisei-Maru-Gothic-std", "Noto sans jp", "sans-serif";
$font-family2: "Zen Maru Gothic", "Noto sans jp", "sans-serif";
$font-family3: "Noto sans jp", "sans-serif";

// inner spacing
$width-inner: 1100px;

// base styles
$font-size-base: 16px;
