@use "../base/variables" as *;
@use "../base/functions" as *;
@use "../base/mixins" as *;

.body {
  &.is-checked {
    overflow: hidden;
  }
}

.hidden-sp {
  @include sp {
    display: none;
  }
}
.hidden-pc {
  @include pc {
    display: none;
  }
}
.focus-none {
  display: block;
  pointer-events: none;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.br-sp {
  display: none; /* PC向けの改行は初期状態で非表示 */

  @include sp() {
    display: inline; /* SP向けの改行を表示にする */
  }
}

.br-pc {
  display: inline; /* PC向けの改行は初期状態で非表示 */

  @include sp() {
    display: none; /* SP向けの改行を表示にする */
  }
}

.header {
  // 全面に表示
  // z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  box-sizing: border-box;
  background-color: $color-beige;
}

.header__inner {
  // 最大幅
  width: vw(1280);
  margin: auto;
  // 横並び
  display: flex;
  // 両端揃え
  justify-content: space-between;
  // 内側余白　上右下左
  padding: vw(0);

  @include sp() {
    width: 100%;
    padding: vw_sp(15) vw_sp(30);
  }
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: vw(187);

  a {
    display: block;
  }

  transition: 0.3s;

  &:hover {
    opacity: 0.5;
    transition: opacity 0.3s;
  }

  @include sp() {
    width: vw_sp(155);
  }
}

.header__nav {
  // 横並び
  display: flex;
  // 両端揃え
  justify-content: center;
  // 内側余白
  margin-top: vw(0);
  margin-right: auto;
  // お申込みアイコン分余白
  margin-right: vw(130);

  @include sp() {
    display: none;
  }
}

.header__nav ul {
  // リストのスタイルをなくす
  list-style: none;
  // 横並び
  display: flex;
  // 両端揃え
  justify-content: center;
  // 間隔
  gap: vw(6);
  // 　内側余白
  margin-bottom: vw(15);

  // @include sp() {
  //   // スマホ版では表示しない
  //   display: none;
  // }
}

.header__nav li {
  // position: relative;
  // 高さや幅が指定可能となる
  display: flex;
  // 横並び
  justify-content: center;
  // 上下中央揃え
  align-items: center;
  // ブロックレベル要素内のテキストを中央揃え
  text-align: center;
  // リストのスタイルをなくす
  list-style: none;
  // 下の余白

  // 横幅
  width: vw(156);
  // height: vw(65);
  // 丸み
  border-radius: vw(0) vw(0) vw(30) vw(30);
  // 背景色
  background: #ffa8a8;
  // 影
  box-shadow: vw(0) vw(0) vw(20) vw(0) rgba(0, 0, 0, 0.15);
  // フォントカラー
  color: #fff;
  // フォント
  font-family: $font-family;
  font-size: vw(16);
  font-weight: 800;
}

.header__nav li:nth-child(2) {
  background: #29a6ce;
}

.header__nav li:nth-child(3) {
  background: #85c36f;
}
.header__nav li:nth-child(4),
.header__nav li:nth-child(5) {
  background: #f7f3eb;
  color: $color-brown;
}

.header__nav a {
  padding: vw(25) vw(16);
  white-space: nowrap;
}

.header__icon {
  z-index: 1000;
  position: absolute;
  top: 0;
  right: 0;
  width: vw(185);
  height: vw(185);

  @include sp() {
    width: vw_sp(90);
    height: vw_sp(90);
  }
}
// fv
.fv {
  padding-top: vw(80);
  padding-bottom: vw(125);
  background: $color-beige;

  @include sp() {
    padding-top: vw_sp(50);
    padding-bottom: vw_sp(50);
  }
}

.fv__inner {
  // 最大幅
  width: vw(1280);
  margin: auto;
  position: relative;

  @include sp() {
    width: vw_sp(330);
    height: vw_sp(480);
    margin-bottom: vw_sp(200);
  }
}

// swiper
.fv__swiper {
  max-width: vw(1290);
  margin-left: auto;
  margin-right: auto;
  // margin-block: 50px;

  @include sp() {
    max-width: vw_sp(330);
    height: vw_sp(480);
  }

  img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: vw(70) vw(70) vw(70) vw(70);
    //親要素からのはみ出しを防ぐ
    object-fit: contain;

    @include sp() {
      width: auto;
      height: vw_sp(480);
      border-radius: vw_sp(70) vw_sp(70) vw_sp(70) vw_sp(70);
      object-fit: cover;
    }
  }
}

.swiper {
  width: auto;
  margin-inline: auto;
  position: relative;
}

.swiper-slide {
  overflow: hidden;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: ""; /*contentを空にする*/
}

.swiper-pagination {
  // 丸を外に表示
  bottom: vw(-36) !important;
  // 丸を中央に表示
  position: absolute;
  // 丸を中央に表示
  margin: 0 auto;
}

// ページネーション非アクティブ時
.swiper-pagination-bullet {
  width: vw(9);
  height: vw(9);
  background: url(../images/fv/icon-non-active.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1 !important;
}

// ページネーションアクティブ時
.swiper-pagination-bullet-active {
  width: vw(9);
  height: vw(9);
  background: url(../images/fv/icon-active.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1 !important;
}

.fv__bg {
  // fv__innerに対して絶対配置
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1000;
  width: vw(440);

  @include sp() {
    width: vw_sp(255);
    height: vw_sp(310);
  }
}

.fv__text {
  // fv__innerに対して絶対配置
  position: absolute;
  top: vw(447);
  z-index: 1000;

  @include sp() {
    top: vw_sp(270);
  }
}
.fv__title {
  color: $color-brown;
  text-align: left;
  font-family: $font-family;

  font-weight: 800;
  font-size: vw(30);
  line-height: 160%;
  letter-spacing: 0.0108em;
  margin-bottom: vw(20);

  @include sp() {
    font-size: vw_sp(32);
    line-height: 130%;
    letter-spacing: 0.096em;
    margin-bottom: vw_sp(10);
  }
}

.fv__sub-title {
  position: absolute;
  white-space: nowrap;
  color: $color-brown;
  font-family: $font-family3;
  font-size: vw(14);
  font-weight: 600;
  line-height: 160%;
  letter-spacing: 0.128em;

  @include sp() {
    font-size: vw_sp(14);
    width: vw_sp(160);
    white-space: normal;
  }
}

.hide-on-sp {
  @include sp() {
    display: none; // SP版で非表示に設定
  }
}

// schedule
.schedule {
  background-color: $color-beige;
}

.schedule__inner {
  width: vw(1280);
  align-items: center;
  margin: 0 auto;
  text-align: center;

  @include sp() {
    width: 100%;
    padding-bottom: vw_sp(20);
  }
}

.title {
  color: $color-brown;
  text-align: center;
  font-family: $font-family;
  font-size: vw(40);
  font-weight: 800;
  line-height: vw(50);

  @include sp() {
    font-size: vw_sp(30);
    line-height: vw_sp(50);
  }
}

.subtitle {
  color: $color-brown;
  text-align: center;
  font-family: $font-family2;
  font-size: vw(20);
  font-weight: 700;
  line-height: vw(50);
  margin-bottom: vw(30);

  @include sp() {
    font-size: vw_sp(12);
    line-height: vw_sp(20);
    margin-bottom: vw_sp(30);
  }
}

.calender {
  margin: auto;
  width: vw(620);

  img {
    width: 100%;
    height: auto;
  }

  @include sp() {
    width: vw_sp(330);
  }
}

.schedule__bottom {
  width: 100%;
}

// scene
.scene {
  background-color: $color-pink;
}

.scene__inner {
  width: vw(1100);

  align-items: center;
  margin: 0 auto;
  text-align: center;

  @include sp() {
    width: 100%;
  }
}

.scene__subtitle {
  @include sp() {
    margin-bottom: vw_sp(15);
  }
}

.scene__list {
  display: flex;
  gap: vw(25);
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  padding-bottom: vw(100);

  @include sp() {
    flex-direction: column;
    align-items: center;
    gap: vw_sp(20);
    padding-bottom: vw_sp(10);
  }
}

.scene__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: vw(10) vw(10) vw(10);
  border-radius: vw(60) vw(60) vw(60) vw(60);
  height: auto;

  @include sp() {
    padding: vw_sp(10) vw_sp(10) vw_sp(10);
    border-radius: vw_sp(60) vw_sp(60) vw_sp(60) vw_sp(60);
  }

  img {
    width: vw(330);

    @include sp() {
      width: vw_sp(310);
    }
  }
}

.scene__list-item--picture {
  margin-bottom: vw(20);
}
.scene__list-item--contents {
  display: flex;
  flex-direction: column;

  width: vw(272);
  margin: auto;

  @include sp() {
    width: vw_sp(277);
  }
}

.scene__list-item--number {
  color: $color-pink;
  font-family: $font-family;
  font-size: vw(40);

  font-weight: 800;
  line-height: 140%;

  @include sp() {
    font-size: vw_sp(40);
  }
}

.scene__list-item--text {
  color: $color-pink;
  font-family: $font-family3;
  font-size: vw(20);
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: vw(1.6);

  @include sp() {
    font-size: vw_sp(20);
  }
}

.scene__list-item--description {
  color: $color-brown;
  font-family: $font-family3;
  font-size: vw(14);
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: vw(1.12);
  margin-top: vw(16);
  margin-bottom: vw(66);

  @include sp() {
    font-size: vw_sp(14);
    margin-top: vw_sp(16);
    margin-bottom: vw_sp(66);
  }
}

.scene__bottom {
  width: 100%;
}

// voice
.voice {
  background-color: $color-blue;
}

.voice__inner {
  width: vw(1260);
  // 右寄せ
  margin-left: auto;

  @include sp() {
    padding-top: vw_sp(20);
    width: 100%;
  }
  // @include sp() {
  //   width: 100%;
  // }
}

.voice__container {
  display: flex;
  padding-top: vw(-200);
  gap: vw(40);
  padding-bottom: vw(100);

  @include sp() {
    gap: vw_sp(20);
    margin-left: vw_sp(20);
  }
}

.voice__vertical {
  position: relative;
  display: flex;

  // 縦並び
  flex-direction: column;
  gap: vw(35);

  @include sp() {
    text-align: left;
  }
}

.arrow-left {
  position: absolute;
  top: 75%;
  left: 10%;
  transform: translateY(-50%);
}

.arrow-right {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateY(-50%);
}

.arrow-cursol {
  cursor: pointer;
  width: vw(24);
  height: w(24);
}

.voice__vertical--text {
  display: flex;
  flex-direction: row;

  @include sp() {
    flex-direction: column;
    gap: vw_sp(10);
  }
}

.voice__title {
  writing-mode: vertical-rl;
  color: $color-brown;
  text-align: center;
  font-family: $font-family;
  font-size: vw(40);
  font-weight: 800;
  line-height: vw(46);

  @include sp() {
    font-size: vw_sp(30);
    line-height: vw_sp(46);
  }
}

.voice__subtitle {
  writing-mode: vertical-rl;
  color: $color-brown;
  font-family: $font-family;
  font-size: vw(20);
  font-weight: 400;
  line-height: vw(50);

  @include sp() {
    font-size: vw_sp(12);
    line-height: vw_sp(50);
    text-align: left; /* 縦方向の左寄せ */
    margin: 0;
    padding: 0;
  }
}

.voice__vertical--arrow {
  display: flex;
  gap: vw(6);
  // 左右中央揃え
  justify-content: center;

  img {
    width: vw(33);
    height: vw(33);
  }

  @include sp() {
    display: none;
  }
}

// .voice__vertical--arrow {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   width: vw(60);
// }

.voice__container {
  position: relative;
  width: 100%;
}

.voice__slide-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.voice__slide--card {
  // 幅伸ばさない、縮めない、指定サイズで表示
  flex: 0 0 auto;
  // vwだと広がりすぎるのでpx指定とした
  width: vw(290) !important;
  height: auto;
  margin-right: vw(25);
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: vw(70);
  padding: vw(30);
  gap: vw(16);

  @include sp() {
    width: vw_sp(240) !important;
    margin-right: vw_sp(25);
    padding: vw_sp(30);
    gap: vw_sp(16);
    border-radius: vw_sp(70);
  }
}

.voice__slide--card-img {
  width: vw(103);

  @include sp() {
    width: vw_sp(103);
  }

  img {
    width: 100%;
  }
}

.voice__slide--card-text-title {
  color: $color-blue;
  font-family: $font-family3;
  font-size: vw(20);
  font-weight: 600;
  line-height: 140%;
  letter-spacing: vw(1.6);

  @include sp() {
    font-size: vw_sp(20);
  }
}

.voice__slide--card-text-description {
  color: $color-brown;
  font-family: $font-family3;
  font-size: vw(14);
  font-weight: 300;
  line-height: 140%;
  letter-spacing: 0.0112em;

  @include sp() {
    font-size: vw_sp(14);
  }
}

.voice__slide--card-text {
  display: flex;
  flex-direction: column;
  gap: vw(16);

  .voice__bottom {
    width: 100%;
  }
}

// information
.information {
  background-color: $color-green;
}
.information__inner {
  width: vw(1100);
  padding-top: vw(-200);

  align-items: center;
  margin: 0 auto;
  text-align: center;

  @include sp() {
    width: 100%;
  }
}

.information__card--container {
  display: flex;
  flex-direction: row;
  gap: vw(30);
  justify-content: center;

  @include sp() {
    flex-direction: column;
    gap: vw_sp(20);
    margin: 0 auto;
    align-items: center;
    padding-bottom: vw_sp(20);
  }
}

.information__card {
  background: $color-white;
  display: flex;
  width: vw(537) !important;
  padding: vw(30);
  flex-direction: column;
  align-items: center;
  gap: vw(30);
  border-radius: vw(60);

  @include sp() {
    width: vw_sp(330) !important;
    align-items: center;
    border-radius: vw_sp(50);
  }
}

.information__subtitle {
  @include sp() {
    margin-bottom: vw_sp(15);
  }
}

.information__card--title {
  display: flex;
  background-color: $color-green;
  // 横並び中央寄せ
  justify-content: center;
  // 上下中央揃え
  align-items: center;
  // テキスト中央揃え
  text-align: center;
  width: vw(470);
  height: vw(43);
  padding: vw(7) vw(122);
  border-radius: vw(60);
  color: $color-white;
  font-family: $font-family3;
  font-size: vw(20);
  font-weight: 600;
  line-height: vw(30);
  letter-spacing: vw(1.6);

  @include sp() {
    width: vw_sp(280);
    height: vw_sp(43);
    padding: vw_sp(7) vw(122);
    border-radius: vw_sp(60);
    font-size: vw_sp(20);
    line-height: vw_sp(15);
    letter-spacing: vw_sp(1.28);
  }
}

.information__card--table {
  //
  border-collapse: collapse;
}

.information__card--text1 {
  padding: vw(10) vw(0);
  color: $color-brown;
  text-align: left;
  font-family: $font-family3;
  font-size: vw(12);
  font-weight: 600;
  line-height: vw(24);
  letter-spacing: 0.0128em;
  border-bottom: 1px solid $color-beige2;

  @include sp() {
    padding: vw_sp(10) vw(0);
    font-size: vw_sp(14);
    line-height: 150%;
    letter-spacing: 0.0128em;
  }
}

.information__card--bottom {
  padding: vw(10) vw(0);

  @include sp() {
    padding: vw_sp(10) vw(0);
  }
}
.information__card--text2 {
  color: $color-brown;
  font-family: $font-family3;
  font-size: vw(10);
  font-weight: 300;
  line-height: vw(16);
  letter-spacing: vw(0.8);

  @include sp() {
    font-size: vw_sp(8);
    line-height: 160%;
    letter-spacing: 0.08em;
  }
}

.information__card--left {
  vertical-align: middle;
  width: 30%;
}

.information__card--right {
  vertical-align: middle;
  width: 70%;
}

.information__bottom {
  width: 100%;
}

// gallery

// gallery

.gallery {
  background-color: $color-white;
}
.gallery__inner {
  padding-top: vw(50);
  padding-bottom: vw(50);
  align-items: center;
  text-align: center;

  @include sp() {
    padding-bottom: vw_sp(20);
  }
}

.gallery__swiper-wrapper {
  transition-timing-function: linear;
}

.gallery__swiper-slide {
  width: vw(215);
  height: 100%;

  @include sp() {
    width: vw_sp(129);
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.gallery__swiper-bottom {
  margin-top: vw(20);

  @include sp() {
    margin-top: vw_sp(12);
  }
}

// access

.access {
  background-color: $color-beige;
}

.access__inner {
  width: vw(1100);
  align-items: center;

  // 左右中央
  margin: 0 auto;
  text-align: center;
  padding-bottom: vw(90);

  @include sp() {
    width: 100%;
    padding-bottom: vw_sp(60);
  }
}

.access__map {
  width: vw(1100);
  margin: 0 auto;
  // アスペクト比を保持
  aspect-ratio: 16/9;

  @include sp() {
    // 左右中央
    margin: 0 auto;
    width: vw_sp(330);
    aspect-ratio: 9/16;
    border-radius: vw_sp(40);
    overflow: hidden; /* 角丸を適用 */
    z-index: 1000;
  }
}

.access__map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

//message

.message {
  background-color: $color-beige;
}
.message__inner {
  width: vw(1100);
  padding-bottom: vw(50);
  align-items: center;
  margin: 0 auto;
  text-align: center;

  @include sp() {
    width: 100%;
    padding-bottom: vw_sp(20);
  }
}

.message__image {
  width: vw(175);
  // 左右中央
  margin: 0 auto;

  @include sp() {
    width: vw_sp(122);
  }

  img {
    width: 100%;
  }
}

.message__text {
  padding-top: vw(30);
  width: vw(390);
  height: auto;
  margin: auto;
  // display: flex;
  // justify-content: center; /* 左右中央揃え */
  // align-items: center; /* 上下中央揃え */
  // text-align: center; /* テキストの中央揃え */

  @include sp() {
    padding-top: vw_sp(30);
    width: vw_sp(330);
    // 左右中央
    margin: 0 auto;
  }
}

.message__text--description {
  color: $color-brown;
  font-family: $font-family3;
  font-size: vw(14);
  font-weight: 300;
  line-height: 140%;
  letter-spacing: 0.0112em;

  @include sp() {
    font-size: vw_sp(14);
  }
}

.message__bottom {
  width: 100%;
}
// footer

.footer {
  background: #fea5a1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__inner {
  width: vw(1280);
  margin-top: vw(-50);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include sp() {
    width: 100%;
  }
}

.footer__logo {
  width: vw(160);
  height: 100%;

  @include sp() {
    width: vw_sp(160);
  }

  img {
    width: 100%;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: vw(20);
  padding-bottom: vw(30);
}

.footer__sns {
  width: vw(38);
  // 左右中央
  margin: 0 auto;

  @include sp() {
    width: vw_sp(38);
  }

  img {
    width: 100%;
  }
}

.footer__text {
  color: $color-beige;
  text-align: center;
  font-family: $font-family3;
  font-size: vw(12);
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.096em;

  @include sp() {
    font-size: vw_sp(12);
    line-height: 130%;
    padding-bottom: vw_sp(20);
  }
}

.footer__button {
  margin-bottom: vw(30);
}

.footer__button-link {
  width: vw(329);
  display: flex;
  flex-direction: row;
  gap: vw(10);
  align-items: center;
  justify-content: center;
  padding: vw(41) vw(20);
  background-color: $color-white;
  text-decoration: none;
  border-radius: vw(30);

  @include sp() {
    width: vw_sp(300);
    padding: vw_sp(41) vw_sp(20);
    border-radius: vw_sp(30);
  }
}

.footer__button-icon {
  width: vw(30);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: vw(30);

  @include sp() {
    width: vw_sp(19);
  }
  img {
    width: 100%;
  }
}

.footer__button-text {
  color: $color-pink;
  font-family: $font-family;
  font-size: vw(16);
  font-weight: 800;
  line-height: 1;
  align-items: center;
  // 位置を調整、absoluteは不要
  position: relative;
  top: vw(2);

  @include sp() {
    font-size: vw_sp(16);
    line-height: 125%;
  }
}

.footer__copy {
  color: $color-beige;
  text-align: center;
  font-family: $font-family3;
  font-size: vw(12);
  font-weight: 250;
  margin-bottom: vw(50);

  @include sp() {
    font-size: vw_sp(12);
    margin-top: vw_sp(20);
    margin-bottom: vw_sp(50);
  }
}

.pagetop {
  position: fixed;
  right: vw(29);
  bottom: vw(120);
  width: vw(100);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 5000;

  @include sp() {
    right: vw_sp(20);
    bottom: vw_sp(80);
    width: vw_sp(70);
  }

  &.is-show {
    opacity: 1;
    visibility: visible;
  }

  img {
    width: 100%;
    height: auto;
  }
}
