@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Zen+Maru+Gothic&display=swap";
/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3 */
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  margin: 0;
  overflow: visible; /* 2 */
  clear: both;
  color: inherit;
  border-top-width: 1px;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-transform: inherit; /* 2 */
  vertical-align: middle;
  /* 1 */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border-radius: 0;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  font: inherit; /* 2 */
  -webkit-appearance: button;
          appearance: button; /* 1 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-collapse: collapse;
  border-color: inherit; /* 1 */
}

caption {
  text-align: left;
}

td,
th {
  padding: 0;
  vertical-align: top;
}

th {
  font-weight: bold;
  text-align: left;
}

html {
  font-size: 1.6667vw;
}

body {
  position: relative;
  font-size: 16px;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: 100%;
}

svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  [data-only-show=pc] {
    display: none !important;
  }
}

@media not all and (max-width: 768px) {
  [data-only-show=sp] {
    display: none !important;
  }
}

.whitespace-pre {
  white-space: pre-wrap;
}

.body.is-checked {
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .hidden-sp {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .hidden-pc {
    display: none;
  }
}

.focus-none {
  display: block;
  pointer-events: none;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f7f3eb;
}

.header__inner {
  width: 88.8888888889vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0vw;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* ロゴ全体をフレックスボックスに設定 */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* ロゴ画像を上下中央に配置 */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; /* ロゴの中央揃え */
  width: 12.9861111111vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__logo a {
  display: block;
}
.header__logo:hover {
  opacity: 0.5;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0vw;
  margin-right: auto;
  margin-right: 9.0277777778vw;
}

.header__nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.4166666667vw;
  margin-bottom: 1.0416666667vw;
}
@media screen and (max-width: 768px) {
  .header__nav ul {
    display: none;
  }
}

.header__nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  list-style: none;
  width: 10.8333333333vw;
  border-radius: 0vw 0vw 2.0833333333vw 2.0833333333vw;
  background: #ffa8a8;
  -webkit-box-shadow: 0vw 0vw 1.3888888889vw 0vw rgba(0, 0, 0, 0.15);
          box-shadow: 0vw 0vw 1.3888888889vw 0vw rgba(0, 0, 0, 0.15);
  color: #fff;
  font-family: "Heisei-Maru-Gothic-std", "Noto sans jp", "sans-serif";
  font-size: 1.1111111111vw;
  font-weight: 800;
}

.header__nav li:nth-child(2) {
  background: #29a6ce; /* ご利用者の声の背景色 */
}

.header__nav li:nth-child(3) {
  background: #85c36f; /* 施設案内の背景色 */
}

.header__nav li:nth-child(4),
.header__nav li:nth-child(5) {
  background: #f7f3eb; /* ギャラリーとアクセスの背景色 */
  color: #3b1800; /* ギャラリーとアクセスのフォントカラー */
}

.header__nav a {
  padding: 1.7361111111vw 1.1111111111vw;
  white-space: nowrap;
}

.header__icon {
  z-index: 1000;
  position: absolute;
  top: 0;
  right: 0;
  width: 12.8472222222vw;
  height: 12.8472222222vw;
}

.fv {
  padding-top: 5.5555555556vw;
  padding-bottom: 8.6805555556vw;
  background: #f7f3eb;
}

.fv__inner {
  width: 88.8888888889vw;
  margin: auto;
  position: relative;
}

.fv__swiper {
  max-width: 89.5833333333vw;
  margin-left: auto;
  margin-right: auto;
}
.fv__swiper img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 4.8611111111vw 4.8611111111vw 4.8611111111vw 4.8611111111vw;
  -o-object-fit: contain;
     object-fit: contain;
}

.swiper {
  width: auto;
  margin-inline: auto;
  position: relative;
}

.swiper-slide {
  overflow: hidden;
}

.swiper-pagination {
  bottom: -2.5vw !important;
  position: absolute;
  margin: 0 auto;
}

.swiper-pagination-bullet {
  width: 0.625vw;
  height: 0.625vw;
  background: url(../images/fv/icon-non-active.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1 !important; /* 必要に応じて透明度を無効化 */
}

.swiper-pagination-bullet-active {
  width: 0.625vw;
  height: 0.625vw;
  background: url(../images/fv/icon-active.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1 !important; /* 必要に応じて透明度を無効化 */
}

.fv__bg {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1000;
  width: 30.4166666667vw;
}

.fv__text {
  position: absolute;
  top: 31.0416666667vw;
  z-index: 1000;
}

.fv__title {
  color: #3b1800;
  text-align: left;
  font-family: "Heisei-Maru-Gothic-std", "Noto sans jp", "sans-serif";
  font-weight: 800;
  font-size: 2.0833333333vw;
  line-height: 160%; /* 127.778% */
  letter-spacing: 0.0108em;
  margin-bottom: 1.3888888889vw;
}

.fv__sub-title {
  position: absolute;
  white-space: nowrap;
  color: #3b1800;
  font-family: "FP-こぶりなゴシック StdN W6", "sans-serif";
  font-size: 0.9722222222vw;
  font-weight: 600;
  line-height: 160%; /* 25.6px */
  letter-spacing: 0.0128em;
}

.schedule {
  background-color: #f7f3eb;
}

.schedule__inner {
  width: 88.8888888889vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  text-align: center;
}

.schedule__title {
  color: #3b1800;
  text-align: center;
  font-family: "Heisei-Maru-Gothic-std", "Noto sans jp", "sans-serif";
  font-size: 2.7777777778vw;
  font-weight: 800;
  line-height: 3.4722222222vw; /* 125% */
}

.schedule__subtitle {
  color: #3b1800;
  text-align: center;
  font-family: "Zen Maru Gothic", "Noto sans jp", "sans-serif";
  font-size: 1.3888888889vw;
  font-weight: 700;
  line-height: 3.4722222222vw; /* 250% */
  margin-bottom: 2.0833333333vw;
}

.calender {
  margin: auto;
  width: 43.0555555556vw;
}
.calender img {
  width: 100%;
  height: auto;
}

.schedule__bottom {
  width: 100%;
}

.scene {
  background-color: #ffa8a8;
}

.scene__inner {
  width: 76.3888888889vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  text-align: center;
}

.scene__title {
  margin-top: -3.4722222222vw;
  color: #3b1800;
  text-align: center;
  font-family: "Heisei-Maru-Gothic-std", "Noto sans jp", "sans-serif";
  font-size: 2.7777777778vw;
  font-weight: 800;
  line-height: 3.4722222222vw; /* 125% */
}

.scene__subtitle {
  color: #3b1800;
  text-align: center;
  font-family: "Zen Maru Gothic", "Noto sans jp", "sans-serif";
  font-size: 1.3888888889vw;
  font-weight: 700;
  line-height: 3.4722222222vw; /* 250% */
  margin-bottom: 2.0833333333vw;
}

.scene__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.7361111111vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; /* 水平方向の中央揃え */
  margin: 0 auto; /* 左右中央に配置 */
  padding: 0; /* 必要に応じてパディングを調整 */
  padding-bottom: 6.9444444444vw;
}

.scene__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  padding: 0.6944444444vw 0.6944444444vw 0.6944444444vw;
  border-radius: 4.1666666667vw 4.1666666667vw 4.1666666667vw 4.1666666667vw;
  height: auto;
}
.scene__list-item img {
  width: 22.9166666667vw;
}

.scene__list-item--picture {
  margin-bottom: 1.3888888889vw;
}

.scene__list-item--contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 18.8888888889vw;
  margin: auto;
}

.scene__list-item--number {
  color: #ffa8a8;
  font-family: "Heisei-Maru-Gothic-std", "Noto sans jp", "sans-serif";
  font-size: 2.7777777778vw;
  font-weight: 800;
  line-height: 140%; /* 56px */
}

.scene__list-item--text {
  color: #ffa8a8;
  font-family: "FP-こぶりなゴシック StdN W6", "sans-serif";
  font-size: 1.3888888889vw;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 28px */
  letter-spacing: 0.1111111111vw;
}

.scene__list-item--description {
  color: #3b1800;
  font-family: "FP-こぶりなゴシック StdN W6", "sans-serif";
  font-size: 0.9722222222vw;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.0777777778vw;
  margin-top: 1.1111111111vw;
  margin-bottom: 4.5833333333vw;
}

.scene__bottom {
  width: 100%;
}

.voice {
  background-color: #29a6ce;
}

.voice__inner {
  width: 87.5vw;
  margin-left: auto;
}

.voice__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: -13.8888888889vw;
  gap: 2.7777777778vw;
  padding-bottom: 6.9444444444vw;
}

.voice__vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4305555556vw;
}

.voice__vertical--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.voice__title {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  color: #3b1800;
  text-align: center;
  font-family: "Heisei-Maru-Gothic-std", "Noto sans jp", "sans-serif";
  font-size: 2.7777777778vw;
  font-weight: 800;
  line-height: 3.1944444444vw; /* 115% */
}

.voice__subtitle {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  color: #3b1800;
  font-family: "Heisei-Maru-Gothic-std", "Noto sans jp", "sans-serif";
  font-size: 1.3888888889vw;
  font-weight: 400;
  line-height: 3.4722222222vw; /* 250% */
}

.voice__vertical--arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.4166666667vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.voice__vertical--arrow img {
  width: 2.2916666667vw;
  height: 2.2916666667vw;
}

.voice__container {
  position: relative;
  width: 100%; /* コンテナ全体の幅 */
}

.voice__slide-wrapper {
  position: relative;
  overflow: hidden; /* 左側を隠すために使用 */
  width: 100%;
}

.voice__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease; /* スライド時のアニメーション */
}

.voice__slide--card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 20.1388888889vw !important; /* カードの幅 */
  height: auto;
  margin-right: 1.7361111111vw; /* カード間のスペース */
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4.8611111111vw;
  padding: 2.0833333333vw;
  gap: 1.1111111111vw;
}

.voice__vertical--arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4.1666666667vw;
}

.arrow {
  cursor: pointer;
  width: 1.6666666667vw;
  height: w(24);
}

.voice__slide--card-img {
  width: 7.1527777778vw;
}
.voice__slide--card-img img {
  width: 100%;
}

.voice__slide--card-text-title {
  color: #29a6ce;
  font-family: "FP-こぶりなゴシック StdN W6", "sans-serif";
  font-size: 1.3888888889vw;
  font-weight: 600;
  line-height: 140%; /* 28px */
  letter-spacing: 0.1111111111vw;
}

.voice__slide--card-text-description {
  color: #3b1800;
  font-family: "FP-こぶりなゴシック StdN W6", "sans-serif";
  font-size: 0.9722222222vw;
  font-weight: 300;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.0112em;
}

.voice__slide--card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.1111111111vw;
}
.voice__slide--card-text .voice__bottom {
  width: 100%;
}

.information {
  background-color: #85c36f;
}

.information__inner {
  width: 76.3888888889vw;
  padding-top: -13.8888888889vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  text-align: center;
}

.information__title {
  color: #3b1800;
  text-align: center;
  font-family: "Heisei-Maru-Gothic-std", "Noto sans jp", "sans-serif";
  font-size: 2.7777777778vw;
  font-weight: 800;
  line-height: 3.4722222222vw; /* 125% */
}

.information__subtitle {
  color: #3b1800;
  text-align: center;
  font-family: "Zen Maru Gothic", "Noto sans jp", "sans-serif";
  font-size: 1.3888888889vw;
  font-weight: 700;
  line-height: 3.4722222222vw; /* 250% */
  margin-bottom: 2.0833333333vw;
}

.information__card--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2.0833333333vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.information__card {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 37.2916666667vw !important;
  padding: 2.0833333333vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.0833333333vw;
  border-radius: 4.1666666667vw;
}

.information__card--title {
  background-color: #85c36f;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 32.6388888889vw;
  height: 2.9861111111vw;
  padding: 0.4861111111vw 8.4722222222vw;
  border-radius: 4.1666666667vw;
  color: #fff;
  font-family: "FP-こぶりなゴシック StdN W6", "sans-serif";
  font-size: 1.3888888889vw;
  font-weight: 600;
  line-height: 2.0833333333vw; /* 150% */
  letter-spacing: 0.1111111111vw;
}

.information__card--table {
  border-collapse: collapse;
}

.information__card--text1 {
  padding: 0.6944444444vw 0vw;
  color: #3b1800;
  text-align: left;
  font-family: "FP-こぶりなゴシック StdN W6", "sans-serif";
  font-size: 0.8333333333vw;
  font-weight: 600;
  line-height: 1.6666666667vw; /* 150% */
  letter-spacing: VW(1.28);
  border-bottom: 1px solid #ede2da;
}

.information__card--bottom {
  padding: 0.6944444444vw 0vw;
}

.information__card--text2 {
  color: #3b1800;
  font-family: "FP-こぶりなゴシック StdN W6", "sans-serif";
  font-size: 0.6944444444vw;
  font-weight: 300;
  line-height: 1.1111111111vw; /* 160% */
  letter-spacing: 0.0555555556vw;
}

.information__card--left {
  vertical-align: middle;
  width: 30%;
}

.information__card--right {
  vertical-align: middle;
  width: 70%;
}

.information__bottom {
  width: 100%;
}

.gallery {
  background-color: #fff;
}

.gallery__inner {
  width: 76.3888888889vw;
  padding-top: 3.4722222222vw;
  padding-bottom: 3.4722222222vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  text-align: center;
}

.gallery__title {
  color: #3b1800;
  text-align: center;
  font-family: "Heisei-Maru-Gothic-std", "Noto sans jp", "sans-serif";
  font-size: 2.7777777778vw;
  font-weight: 800;
  line-height: 3.4722222222vw; /* 125% */
}

.gallery__subtitle {
  color: #3b1800;
  text-align: center;
  font-family: "Zen Maru Gothic", "Noto sans jp", "sans-serif";
  font-size: 1.3888888889vw;
  font-weight: 700;
  line-height: 3.4722222222vw; /* 250% */
  margin-bottom: 2.0833333333vw;
}

.gallery__swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.3888888889vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.3888888889vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__swiper-slide--img {
  width: 14.9305555556vw;
  height: 100%;
}
.gallery__swiper-slide--img img {
  width: 100%;
  height: 100%;
}

.access {
  background-color: #f7f3eb;
}

.access__inner {
  width: 76.3888888889vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  text-align: center;
}

.access__title {
  color: #3b1800;
  margin-top: -4.8611111111vw;
  text-align: center;
  font-family: "Heisei-Maru-Gothic-std", "Noto sans jp", "sans-serif";
  font-size: 2.7777777778vw;
  font-weight: 800;
  line-height: 3.4722222222vw; /* 125% */
}

.access__subtitle {
  color: #3b1800;
  text-align: center;
  font-family: "Zen Maru Gothic", "Noto sans jp", "sans-serif";
  font-size: 1.3888888889vw;
  font-weight: 700;
  line-height: 3.4722222222vw; /* 250% */
  margin-bottom: 2.0833333333vw;
}

.access__map {
  width: 76.3888888889vw;
  margin: 0 auto;
  aspect-ratio: 16/9;
  padding-bottom: 6.875vw;
}

.access__map iframe {
  width: 100%; /* 親要素の幅に追従 */
  height: 100%; /* 親要素の高さに追従 */
  border: 0; /* 枠線を削除 */
}

.message {
  background-color: #f7f3eb;
}

.message__inner {
  width: 76.3888888889vw;
  padding-bottom: 3.4722222222vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  text-align: center;
}

.message__title {
  color: #3b1800;
  text-align: center;
  font-family: "Heisei-Maru-Gothic-std", "Noto sans jp", "sans-serif";
  font-size: 2.7777777778vw;
  font-weight: 800;
  line-height: 3.4722222222vw; /* 125% */
}

.message__subtitle {
  color: #3b1800;
  text-align: center;
  font-family: "Zen Maru Gothic", "Noto sans jp", "sans-serif";
  font-size: 1.3888888889vw;
  font-weight: 700;
  line-height: 3.4722222222vw; /* 250% */
  margin-bottom: 2.0833333333vw;
}

.message__image {
  width: 12.1527777778vw;
  margin: 0 auto;
}
.message__image img {
  width: 100%;
}

.message__text {
  padding-top: 2.0833333333vw;
  width: 27.0833333333vw;
  height: auto;
  margin: auto;
}

.message__text--description {
  color: #3b1800;
  font-family: "FP-こぶりなゴシック StdN W6", "sans-serif";
  font-size: 0.9722222222vw;
  font-weight: 300;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.0777777778vw;
}

.message__bottom {
  width: 100%;
}

.footer {
  background: #fea5a1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; /* 水平方向の中央揃え */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* 垂直方向の中央揃え */
}

.footer__inner {
  width: 88.8888888889vw;
  margin-top: -3.4722222222vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; /* 水平方向の中央揃え */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* 垂直方向の中央揃え */
}

.footer__logo {
  width: 11.1111111111vw; /* 親要素の幅を100%に設定 */
  height: 100%; /* 必要に応じて高さを設定 */
}
.footer__logo img {
  width: 100%;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.3888888889vw;
  padding-bottom: 2.0833333333vw;
}

.footer__sns {
  width: 2.6388888889vw;
  margin: 0 auto;
}
.footer__sns img {
  width: 100%;
}

.footer__text {
  color: #f7f3eb;
  text-align: center;
  font-family: "FP-こぶりなゴシック StdN W6", "sans-serif";
  font-size: 0.8333333333vw;
  font-weight: 600;
  line-height: 1.1111111111vw; /* 133.333% */
  letter-spacing: 0.0666666667vw;
}

.footer__button {
  margin-bottom: 2.0833333333vw;
}

.footer__button-link {
  width: 22.8472222222vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.6944444444vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2.8472222222vw 1.3888888889vw;
  background-color: #fff;
  text-decoration: none;
  border-radius: 2.0833333333vw;
}

.footer__button-icon {
  width: 2.0833333333vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 30px; /* アイコンとテキスト間のスペース */
}
.footer__button-icon img {
  width: 100%;
}

.footer__button-text {
  color: #ffa8a8;
  font-family: "Heisei-Maru-Gothic-std", "Noto sans jp", "sans-serif";
  font-size: 1.1111111111vw;
  font-weight: 800;
  line-height: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 0.1388888889vw;
}

.footer__copy {
  color: #f7f3eb;
  text-align: center;
  font-family: "FP-こぶりなゴシック StdN W6", "sans-serif";
  font-size: 0.8333333333vw;
  font-weight: 250;
  margin-bottom: 3.4722222222vw;
}